<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Gunseer Specs Chooser</title>
        <link rel="stylesheet" href="foundation.min.css">
        <link rel="stylesheet" href="app.css">
    </head>

    <body class="col">
        <header class="small-8 small-offset-2">
                Gunseer Result
        </header>
        <div class="small-8 small-offset-2 col">
            <img class="small-6 small-offset-3 botm" src='<%= image %>' alt='Avant'/>
            <legend>Name:</legend>
            <p class="name botm">
                    <%= name %>
            </p>
            <legend>Link to:</legend>
            <p class="url botm">
				<a href='<%= url %>'>
            </p>
        </div>
        <script src="foundationjs/jquery.js"></script>
        <script src="foundationjs/what-input.js"></script>
        <script src="foundationjs/foundation.min.js"></script>
    </body>
</html>
