<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-width=1.0">
        <title>Gunseer Specs Chooser</title>
        <link rel="stylesheet" href="foundation.min.css">
        <link rel="stylesheet" href="app.css">		
    </head>
	
    <body>
		
        <image src='<%= test1 %>' alt='Avant'/>
		<p>
			<%= test2 %>
		<p/>
        <script src="foundationjs/jquery.js"></script>
        <script src="foundationjs/what-input.js"></script>
        <script src="foundationjs/foundation.min.js"></script>
    </body>
</html>
